section {
    background-color: #A1F7EA
}

header {
    background-color: rgb(161, 247, 185, 0.8);
}

p {
    padding: 25px;
}

 footer {
     background-color: #9DE0C3;
 }

 nav {
     background-color: rgb(154, 227,237,0.6);
 }

 body {
     background-color: rgb(161, 247, 185, 0.8);
 }